{% if menu_links %}
  <ul class="menu">
    {% for item in menu_links %}
      <li class="menu-item">
        {% if item.link.uri == 'https://www.facebook.com/' %}
          <a href="{{ item.link.uri }}" class="menu-link">
            <i class="fab fa-facebook"></i>
          </a>
        {% elseif item.link.uri == 'https://www.twitter.com/' %}
          <a href="{{ item.link.uri }}" class="menu-link">
            <i class="fab fa-twitter"></i>
          </a>
        {% elseif item.link.uri == 'https://www.instagram.com/' %}
          <a href="{{ item.link.uri }}" class="menu-link">
            <i class="fab fa-instagram"></i>
          </a>
        {% else %}
          <a href="{{ item.link.uri }}" class="menu-link">{{ item.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

........................................

{% set main_menu_links = menu_links('main') %}

{% if main_menu_links %}
  <ul class="menu">
    {% for item in main_menu_links %}
      <li class="menu-item">
        <a href="{{ item.url }}" class="menu-link">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
